.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    display: flex;
    /* align-items: center; */
    /* border: 1px solid black; */
    gap: 2rem;
}

.image_container {
    /* border: 1px solid black; */
    /* padding: 2rem; */
    flex: 1;
}

.image {
    /* border: 1px solid black; */
}

.details {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
    gap: 2rem;
    padding: 2rem;
}

.about {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h2 {
    margin: 0;
    color: #3a3a3a;
    font-weight: 700;
    text-transform: uppercase;
}
.about p {
    margin: 0;
    color: #434343;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
}

.about p span {
    color: #1a8cff;
    font-weight: 700;
}

.education {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.education h2 {
    margin: 0;
    color: #3a3a3a;
    font-weight: 700;
    text-transform: uppercase;
}
.education p {
    margin: 0;
    color: #434343;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
}

.education p span {
    color: #1a8cff;
    font-weight: 700;
}

.certification {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
}

.certification h2 {
    margin: 0;
    color: #3a3a3a;
    font-weight: 700;
    text-transform: uppercase;
}

.cards {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 3rem;
}


/* for mobile */
@media only screen and (max-width: 480px) {
    .wrapper {
        flex-direction: column;
        gap: 0;
        align-items: center;
        padding: 1rem;
    }

    .image {
        width: 300px;
        height: 300px;
    }
}



