.container {
    box-shadow: 0 0 2px black;
    border-radius: 10px;
    width: 19rem;
    cursor: pointer;
}

.logo {
    display: grid;
    place-items: center;
    padding: 0.8rem 0;
    border-radius: 10px 10px 0 0; 
}

.logo_image {
    font-size: 4rem;
    display: grid;
    place-items: center;
    padding: 1rem;
    border-radius: 50%;
    background-color: #fff;
}


.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem;
}

.detail p {
    margin: 0;
    text-align: center;
    font-weight: 600;
    color: #3a3a3a;
    font-size: 1.1rem;
    text-transform: capitalize;
}

.detail p:last-child {
    font-size: 1rem;
    color: #646464;
}
