.container {
    display: grid;
    place-items: center;
    max-width: 100vw;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper h1 {
    color: #262626;
    padding: 0.2rem 0.5rem;
    font-size: 2rem;

    margin-bottom: 2rem;
}

.detail_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.image {
    flex: 0.5;
    display: grid;
    place-items: center;
    border-radius: 2rem 0 0 2rem;
    padding: 0.2rem auto;

}

.skills {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    /* background-color:  #1ac5ff; */
    padding: 0.2rem 0.5rem;
    border-radius: 0 2rem 2rem 0;
    /* height: calc(400px + 0.2rem); */

}

.skills h2 {
    color: #262626;
    font-size: 2rem;
    font-weight: 500;
}

/* for mobile */
@media only screen and (max-width: 480px) {
    .detail_container {
        flex-direction: column-reverse;
    }

    .skills h2 {
        font-size: 1.4rem;
        margin: 0;
        margin-bottom: 0.8rem;
    }

    .wrapper h1{
        font-size: 1.8rem;
    }

    .img {
        width: 300px;
        height: 300px;
    }
}

/* for Ipad and Tablets */
@media only screen and (max-width: 768px) and (min-width: 481px) {
    .img {
        width: 350px;
        height: 350px;
    }

    .skills h2 {
        font-size: 1.7rem;
    }
}

/* for laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .skills h2 {
        font-size: 1.7rem;
    }

    .detail_container {
        gap: 2rem;
    }
}