.container {
    display: grid;
    place-items: center;
    max-width: 100vw;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail_container {
    display: flex;
    align-items: flex-start;
    gap: 15rem;
    justify-content: space-between;
}

.img {
    flex: 0.5;
    border: 1px solid black;
}

.head {
    flex: 0.5;
    border: 1px solid black;

}