/* .logo {
    margin: 0;
    font-weight: 500;
    font-size: 0.7rem;
    color: #323232;
    cursor: pointer;
    transition: 0.5s all ease;
    display: flex;
    align-items: center;
    gap: 0.3rem;
} */

.logo_wrapper {
    padding-top: 0.5rem;
}

.logo {
    font-size: 2rem;
    color: #1a8cff;
}

/* .logo span {
    color: #1a8cff;
    font-size: 2rem;
    font-weight: 500;
} */

/* for mobile */
@media only screen and (max-width: 480px) {
    .logo_wrapper {
        padding-top: 0.4rem;
    }
}