.container {
    background-color: #fff;
    max-width: 100vw;
    padding: 0.3rem 1rem;
    overflow-x: hidden;
    position: sticky !important;
    top: 0;
    left: 0;
    box-shadow: 0 1px 10px #cbcbcb;
    z-index: 10;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* for mobile */
@media only screen and (max-width: 480px) {
    .container {
        padding: 0.5rem 1rem;
    }
}


