.container {
    background-color: #171717;
    max-width: 100vw;
    padding: 0.3rem 1.2rem;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 0;
    font-weight: 600;
    color: #E9E8E8;
    cursor: pointer;
    border-top: 2px solid #1a8cff;
    border-bottom: 2px solid #1a8cff;
    transition: 0.5s all ease;
}


.pages ul {
    display: flex;
    list-style-type: none;
    gap: 1.5rem;
}

.page {
    font-weight: 500;
    opacity: 0.9;
    cursor: pointer;
    padding: 0.2rem 0.8rem;
    color: #fff;
    transition: 0.4s all ease;
}

.page:hover {
    opacity: 1;
    transform: scale(1.1);
    border-radius: 0.2rem;
    background-color: #1a8cff;
    box-shadow: 0 0 1px #1a8cff;
}

/* hamburger */
.hamburger {
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    display: none;
}

.hamburger > span {
    width: 100%;
    height: 0.2rem;
    background-color: #3499ff;
}

/* for tablets */
@media only screen and (max-width: 769px) {

    .pages ul {
        display: none;
    }

    .hamburger {
        display: inline-flex;
    }
}

/* for mobile */
@media only screen and (max-width: 480px) {
    .pages ul {
        display: none;
    }

    .hamburger {
        display: inline-flex;
    }

    .logo {
        font-size: 0.8rem;
    }
}

/* for Ipad and Tablets */
@media only screen and (max-width: 768px) and (min-width: 481px) {
    .pages ul {
        display: none;
    }

    .hamburger {
        display: inline-flex;
    }

    .logo {
        font-size: 1rem;
    }
}

/* for laptops */ 
@media only screen and (min-width: 769px ) and (max-width: 1024px) {
    .pages ul {
        gap: 1rem;
    }

    .page {
        font-size: 0.75rem;
    }

    .logo {
        font-size: 1rem;
    }
}

/* for Desktop */ 
@media only screen and (min-width: 1025px ) and (max-width: 1200px) {

    .pages ul {
        gap: 1.2rem;
    }

    .page {
        font-size: 1.2rem;
    }
}