.container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.wrapper_top {
    display: flex;
}

.image_wrapper {
    flex: 1;
}

.intro_container {
    flex: 1;

}

.intro_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.intro_wrapper h2 {
    margin: 0;
    color: #3a3a3a;
    font-weight: 700;
    text-transform: uppercase;    
}
.intro_wrapper p {
    margin: 0;
    color: #6c6c6c;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
}

.wrapper_bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/* for mobile */
@media only screen and (max-width: 480px) {

    .container {
        padding: 1rem;
    }

    .wrapper_top {
        flex-direction: column;
    }
}