.container {
  display: grid;
  place-items: center;
}

.wrapper {
  display: flex;
  width: 100%;
  border: 1px solid #1a8cff;
  border-radius: 10px;
  flex-direction: column;
  align-items: flex-start;
}

.image_container {
  display: flex;
  flex-direction: column;
}

.image {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading h4 {
  margin: 0;
  font-size: 1.2rem;
  color: #444444;
  padding: 0.5rem;
}

.heading button {
  padding: 0.3rem 0.8rem;
  background-color: transparent;
  color: #1a8cff;
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: capitalize;
  border: 1.5px solid #1a8cff;
  border-radius: 0.3rem;
  margin-right: 0.4rem;
  cursor: pointer;
  transition: 0.5s all ease;
}

.heading button:hover {
  background-color: #1a8cff;
  color: #ffffff;
}
